{% block html_head_container %}

  {% include 'html-header.twig' %}

  {% block head %}
  {% endblock %}
  </head>

{% endblock %}

<body {{function('body_class')}} data-template="base.twig">

  {{ function('get_header') }}

  <main id="main" role="main" class="default">

    {% block content %}
      Sorry, no content
    {% endblock %}

  </main>

  {{ function('get_footer') }}
  {{ function('wp_footer') }}

</body>
</html>
