{% extends "base.twig" %}

{% block content %}

<div class="inner">

  <section class="page-content">

    <section class="content">

      <section class="block block-content">

        <h1>Error 404</h1>
        <p>We can't find the page you are looking for.</p>

      </section><!-- / block-content -->

    </section><!-- / content -->

  </section><!-- / page-content -->

</div><!-- / inner -->

{% endblock %}