{% extends "base.twig" %}

{% block content %}

{% if template_settings.events_page %}
  <section class="hero small breadcrumb" style="background-image: url({{hero.events_hero_background}});">

    <div class="hero-content">

      <section class="breadcrumb">
        <a href="#">Home</a> <i class="fa fa-chevron-right"></i> <a href="{{function('home_url', 'events')}}">{{hero.events_hero_heading}}</a>
      </section><!-- / breadcrumb -->

      <section class="hero-bottom">
        <h1 class="hie">{{hero.events_hero_heading}}</h1>
        <p class="hie">{{hero.events_hero_description}}</p>
      </section><!-- / hero-bottom -->

    </div><!-- / hero-content -->

  </section><!-- / hero -->
{% endif %}

<div class="grey-bg">
  <div id="tribe-events-pg-template" class="tribe-events-pg-template">

    {{function('tribe_events_before_html')}}
    {{function('tribe_get_view')}}
    {{function('tribe_events_after_html')}}

  </div> <!-- #tribe-events-pg-template -->
</div><!-- / grey-bg -->

{% if template_settings.events_page %}

  <section class="featured-events events-page">

    <div class="inner">

      <h2 class="hie">{{featured_events.heading}}</h2>

      <section class="events-list">

        {% for event in featured_events.events %}

          <a href="{{event.permalink}}" class="event">

            {% if event.thumbnail %}
              <div class="thumbnail" style="background-image: url({{event.thumbnail}});">
                <img src="{{function('get_template_directory_uri')}}/assets/resources/placeholder-260x135.png">
              </div>
            {% else %}
              <div class="thumbnail" style="background-image: url(/wp-content/uploads/2017/09/Event-Placeholder.jpg);">
                <img src="{{function('get_template_directory_uri')}}/assets/resources/placeholder-260x135.png">
              </div>
            {% endif %}

            <div class="event-card">

              <span class="date">{{event.date}}</span>
              <span class="event-category {{event.cat_color}} hie">{{event.category}}</span>
              <span class="title">{{event.title}}</span>

              <span class="button green learn-more">Learn More</span>

            </div><!-- / event-card -->

          </a><!-- / event -->

        {% endfor %}

      </section><!-- / events-list -->

      <section class="events-pager"></section>

    </div><!-- / inner -->

  </section><!-- / featured-events -->

{% endif %}


{% endblock %}