{% extends "base.twig" %}

{% block content %}

<section class="hero" style="background-image: url({{hero.hero_background_image}});">

  <div class="hero-content">

    <h1 class="hie">{{hero.hero_heading}}</h1>
    <a href="{{hero.hero_button_link}}" class="button green hie">{{hero.hero_button_label}}</a>

  </div><!-- / hero-content -->

</section><!-- / hero -->

<section class="featured-events">

  <div class="inner">

    <h2>{{events_heading}}</h2>

    <section class="events-list">

      {% for event in events %}

        <a href="{{event.permalink}}" class="event">

          <div class="thumbnail" style="background-image: url({{event.thumbnail}});">
            <img src="{{constants.media_url}}/placeholder-260x135.png">
          </div>

          <span class="date">{{event.date}}</span>
          <span class="title">{{event.title}}</span>

        </a><!-- / event -->

      {% endfor %}

    </section><!-- / events-list -->

    <section class="events-pager"></section>

  </div><!-- / inner -->

</section><!-- / featured-events -->

<section class="content-carousel">

  <div class="inner">

    <nav class="carousel-nav">
      <a href="#" class="active" data-slide="0">{{today.today_tab_label}}</a>
      <a href="#" data-slide="1">{{hours.hours_tab_label}}</a>
      <a href="#" data-slide="2">{{fees.fees_tab_label}}</a>
      <a href="#" data-slide="3">{{location.location_tab_label}}</a>
    </nav><!-- / carousel-nav -->

    <section class="content-slides" data-cycle-auto-height="container">

      <article class="content-slide">

        <section class="mobile-slide-label">{{today.today_tab_label}} <i class="fa fa-angle-down"></i></section>

        <section class="content-half">

          <h3 class="hie">{{today.today_heading}}</h3>

          <p class="hie">{{today.today_description}}</p>

          <div class="slide-actions">

            <a href="{{today.today_button_link}}" class="button green hie">{{today.today_button_label}}</a>

            <section class="weather">

              <span class="temperature">{{weather.temp}}&#176;<sup>F</sup></span>
              <span class="conditions">
                <img src="{{constants.theme_url}}/assets/weather-icons/{{weather.icon}}.png">
              </span>

            </section><!-- / weather -->

          </div><!-- / slide-actions -->

        </section><!-- / content-half -->

        <section class="content-half">

          <nav class="graphic">

            {% for link in today.today_links %}

              <a href="{{link.link}}" {% if link.css_class %}class="{{ link.css_class }}"{% endif %} style="background: url({{link.background_image}});">

                <span class="label">

                  {% if link.icon %}
                    <span class="icon">
                      <img src="{{link.icon}}">
                    </span>
                  {% endif %}

                  <span class="text">{{link.label}}</span>

                </span>

              </a>

            {% endfor %}

          </nav><!-- / nav.graphic -->

        </section><!-- / content-half -->

      </article><!-- / content-slide -->

      <article class="content-slide">

        <section class="mobile-slide-label">{{hours.hours_tab_label}} <i class="fa fa-angle-down"></i></section>

        <section class="content-half">

          <h3 class="hie">{{hours.hours_heading}}</h3>

          <p class="hie">{{hours.hours_description}}</p>

          <div class="slide-actions">

            <a href="{{hours.hours_button_link}}" class="button green hie">{{hours.hours_button_label}}</a>

          </div><!-- / slide-actions -->

        </section><!-- / content-half -->

        <section class="content-half">

          <h4>{{hours.hours_table_heading}}</h4>

          <table>
            <tr class="heading">
              <td>{{hours.hours_col1}}</td>
              <td>{{hours.hours_col2}}</td>
              <td>{{hours.hours_col3}}</td>
            </tr>

            <tbody>

              {% for row in hours.hours %}
                <tr>
                  <td>{{row.col1}}</td>
                  <td>{{row.col2}}</td>
                  <td>{{row.col3}}</td>
              {% endfor %}

            </tbody>
          </table>

          {% if hours.hours_after_table %}
            <p><strong>{{hours.hours_after_table}}</strong></p>
          {% endif %}

        </section><!-- / content-half -->

      </article><!-- / content-slide -->

      <article class="content-slide">

        <section class="mobile-slide-label">{{fees.fees_tab_label}} <i class="fa fa-angle-down"></i></section>

        <section class="content-half">

          <h3 class="hie">{{fees.fees_heading}}</h3>

          <p class="hie">{{fees.fees_description}}</p>

          <div class="slide-actions">

            <a href="{{fees.fees_button_link}}" class="button green hie">{{fees.fees_button_label}}</a>

          </div><!-- / slide-actions -->

        </section><!-- / content-half -->

        <section class="content-half">

          <h4>{{fees.fees_table_heading}}</h4>

          <table>
            <tr class="heading">
              <td>{{fees.fees_col1}}</td>
              <td>{{fees.fees_col2}}</td>
              <td>{{fees.fees_col3}}</td>
            </tr>

            <tbody>

              {% for row in fees.fees %}
                <tr>
                  <td>{{row.col1}}</td>
                  <td>{{row.col2}}</td>
                  <td>{{row.col3}}</td>
                </tr>
              {% endfor %}

            </tbody>
          </table>

          {% if fees.fees_after_table %}
            <p><strong>{{fees.fees_after_table}}</strong></p>
          {% endif %}

        </section><!-- / content-half -->

      </article><!-- / content-slide -->

      <article class="content-slide" id="map-block">

        <section class="mobile-slide-label">{{location.location_tab_label}} <i class="fa fa-angle-down"></i></section>

        <section class="content-half">

          <h3 class="hie">{{location.location_heading}}</h3>

          <p class="hie">{{location.location_description}}</p>

          <section class="split-content">

            {% for location in location.locations %}

              <section class="split">
                {% if location.heading %}
                  <p><strong>{{location.heading}}</strong></p>
                {% endif %}
                <p class="hie">{{location.address}}</p>
              </section>

            {% endfor %}

          </section><!-- / split-content -->

          <div class="slide-actions">

            <a href="{{location.location_button_link}}" class="button green hie">{{location.location_button_label}}</a>

          </div><!-- / slide-actions -->

        </section><!-- / content-half -->

        <section class="content-half" id="map-container">

          {{function('do_shortcode', location.location_map)}}

        </section><!-- / content-half -->

      </article><!-- / content-slide -->

    </section><!-- / content-slides -->

  </div><!-- / inner -->

</section><!-- / content-carousel -->

<section class="callout" style="background-image: url({{c1.c1_background_image}});">

  <div class="inner">

    <section class="half">

      <a href="{{c1.c1_map_link}}" class="image-link">

        {% if c1.c1_park_map %}
          <img src="{{c1.c1_park_map}}">
        {% endif %}

        <span class="label">{{c1.c1_map_label}} <i class="fa fa-long-arrow-right"></i></span>

      </a><!-- / image-link -->

    </section><!-- / half -->

    <section class="half">

      <h3 class="hie">{{c1.c1_heading}}</h3>
      <p class="hie">{{c1.c1_description}}</p>

    </section><!-- / half -->

  </div><!-- / inner -->

</section><!-- / callout -->

<section class="content-grid">

  <div class="inner">

    <h3 class="hie">{{cg.cg_heading}}</h3>
    <p class="heading hie">{{cg.cg_description}}</p>

    <section class="grid-items">

      {% for item in cg.cg %}

        <article class="item">

          {% if item.icon %}
            <div class="icon-container">
              <img src="{{item.icon}}" class="icon">
            </div>
          {% endif %}

          <h4 class="hie">{{item.heading}}</h4>
          <p class="hie">{{item.description}}</p>

          {% if item.link and item.link_text %}
            <p><a href="{{item.link}}">{{item.link_text}} <i class="fa fa-long-arrow-right"></i></a></p>
          {% endif %}

        </article><!-- / item -->

      {% endfor %}

    </section><!-- / grid-items -->

    <section class="grid-actions">

      <a href="{{cg.cg_button_link}}" class="button green">{{cg.cg_button_label}}</a>

    </section><!-- / grid-actions -->

  </div><!-- / inner -->

</section><!-- / content-grid -->

<section class="callout" style="background-image: url({{c2.c2_background_image}});">

  <div class="inner">

    <section class="full">

      {% if c2.c2_sub_heading %}
        <p><em>{{c2.c2_sub_heading}}</em></p>
      {% endif %}

      <h3 class="hie">{{c2.c2_heading}}</h3>

      {% if c2.c2_button_link and c2.c2_button_label %}
        <p class="download-button"><a href="{{c2.c2_button_link}}" class="button green" target="_blank"><i class="fa fa-download"></i> {{c2.c2_button_label}}</a></p>
      {% endif %}

    </section><!-- / full -->

  </div><!-- / inner -->

</section><!-- / callout -->

{% endblock %}