<!doctype html>
<html>
<head>
    <meta charset="{{site.charset}}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i" rel="stylesheet">
    <script src="https://use.fontawesome.com/248f4c74b5.js"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ function( 'get_template_directory_uri' ) }}/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ function( 'get_template_directory_uri' ) }}/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ function( 'get_template_directory_uri' ) }}/assets/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="{{ function( 'get_template_directory_uri' ) }}/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="{{ function( 'get_template_directory_uri' ) }}/assets/img/favicons/safari-pinned-tab.svg" color="#c12033">
    <meta name="theme-color" content="#c12033">

    {{function('wp_head')}}

    <link rel="stylesheet" href="{{ function( 'get_template_directory_uri' ) }}/assets/css/{{ function('stylesheet_rotator') }}-application.css">

