{% extends "base.twig" %}

{% block content %}

<section class="hero small breadcrumb" style="background-image: url({{hero.hero_background_image}});">

  <div class="hero-content">

    <section class="breadcrumb">
      {{breadcrumb}}
    </section><!-- / breadcrumb -->

    <section class="hero-bottom">
      <h1 class="hie">{{hero.hero_heading}}</h1>
      <p class="hie">{{hero.hero_description}}</p>
    </section><!-- / hero-bottom -->

  </div><!-- / hero-content -->

</section><!-- / hero -->
{% if top_nav.nav %}

<section class="page-nav">

  <div class="inner">

    <span class="page-nav-mobile-trigger">{{top_nav.cur_page_title}} <i class="fa fa-angle-down"></i></span>

    <nav>

      {% for nav in top_nav.nav %}
        <a href="{{nav.link}}" class="{{nav.active}}">{{nav.label}}</a>
      {% endfor %}

    </nav>

  </div><!-- / inner -->

</section><!-- / page-nav -->
{% endif %}
<div class="inner">

  <section class="page-content{% if top_nav.nav or sidebar_blocks %} has-sidebar{% endif %}">

    {% if sub_nav or sidebar_blocks %}

      <section class="sidebar">

        {% if sub_nav %}

          <nav class="sidebar-nav">

            {% for nav in sub_nav %}
              <a href="{{nav.link}}" class="{{nav.active}}{% if nav.sub_page_nav %} has-sub-nav{% endif %}">{{nav.label}} {% if nav.sub_page_nav %}<i class="fa fa-chevron-down"></i>{% endif %}</a>

              {% if nav.sub_page_nav %}

                <section class="sub-page-nav display-none">

                  {% for sub_nav in nav.sub_page_nav %}
                    <a href="{{sub_nav.link}}" class="{{sub_nav.active}}">{{sub_nav.label}}</a>
                  {% endfor %}

                </section>

              {% endif %}

            {% endfor %}

          </nav><!-- / sidebar-nav -->

        {% endif %}

        {% for block in sidebar_blocks %}

          <section class="sidebar-content">{{block.content}}</section><!-- / sidebar-content -->

        {% endfor %}

      </section><!-- / sidebar -->

    {% endif %}

    <section class="content">

      {{blocks.layout_html}}

    </section><!-- / content -->

  </section><!-- / page-content -->

</div><!-- / inner -->

  {% if contact_sm %}
    <section class="contact-social-media">
      <div class="social-media-container">
        <div class="social-media-sub-header">
          <p>{% if contact_sm.contact_sub_header %}{{ contact_sm.contact_sub_header }}{% else %}Connect With Us{% endif %}</p>
        </div>
        <div class="social-media-header">
          <p>{% if contact_sm.contact_header %}{{ contact_sm.contact_header }}{% else %}Stay in the Know{% endif %}</p>
        </div>
        {% if contact_sm.contact_content %}
          <div class="social-media-content">
            {{ contact_sm.contact_content }}
          </div>
        {% endif %}
        {% if contact_sm.contact_repeater %}
          <div class="social-media-container">
            {% for sm in contact_sm.contact_repeater %}
              <div class="item {{ function('sm_loop_count', loop.length ) }}">
              {{ function('sm_switch', sm.social_media, sm.social_media_link) }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </section>
  {% endif %}

{# lightboxes #}

{% endblock %}