{% extends "base.twig" %}

{% block content %}

<div class="gradient-bg">

  <div class="inner">

    <section class="breadcrumb dark page-heading">
      <a href="{{function('home_url')}}">Home</a> <i class="fa fa-chevron-right"></i> <a href="">Search</a>
    </section><!-- / breadcrumb -->

    <section class="page-content search-results">

      <section class="content">

        <section class="search-field">

          <i class="fa fa-search"></i>

          <form role="search" method="get" class="search-form" action="{{function('home_url', '/')}}">
            <input type="text" name="s" value="{{function('get_search_query')}}" autocomplete="off">
          </form>

        </section><!-- / search-field -->

        <section class="search-heading">

          <h2>Searched Results</h2>
          <p>Found {{results.count}} result{% if results.count != 1 %}s{% endif %} for "{{function('get_search_query')}}"</p>

        </section><!-- / search-heading -->

        <section class="results">

          {% for post in results.data %}

            <article class="result">

              <a href="{{post.permalink}}" class="thumbnail">
                <img src="{{post.thumbnail}}">
              </a>

              <section class="post-description">

                <h3><a href="{{post.permalink}}">{{post.title}}</a></h3>
                {% if post.content %}
                  <p>{{post.content}}</p>
                {% endif %}

                <p><a href="{{ post.permalink }}" class="button green">Read More</a></p>

              </section><!-- / post-description -->

            </article><!-- / result -->

          {% endfor %}

        </section><!-- / results -->

      </section><!-- / content -->

    </section><!-- / page-content -->

  </div><!-- / inner -->

</div><!-- / gradient-bg -->

{% endblock %}