{% if button_label %}

  <section class="block block-content block-lightbox">
    <p><a href="javascript:;" class="lightbox button green compact" data-fancybox>{{button_label}}</a></p>
  </section>

{% else %}

  <section class="block block-photo block-photo-lightbox">

    <section class="photo">

      <a href="javascript:;" class="photo-lightbox-trigger" data-fancybox>

        <div class="overlay"><i class="fa fa-search"></i></div>

        {% if cover_photo %}
          <img src="{{cover_photo.sizes.photo_block}}">
        {% endif %}

      </a>

    </section><!-- / photos -->

    {% if caption %}

      <section class="caption">

        <div class="caption-content">{{caption}}</div>

      </section>

    {% endif %}

  </section><!-- / block-photo -->

{% endif %}

<div id="{{lightbox_id}}" class="block-lightbox-container lity-hide">

  <section class="block block-photo block-photo-carousel">

    <section class="photos">

      <a href="#" class="slide-nav prev"><i class="fa fa-long-arrow-left"></i></a>
      <a href="#" class="slide-nav next"><i class="fa fa-long-arrow-right"></i></a>

      {% for photo in photos %}

        {% if photo.photo %}
          <img src="{{photo.photo.sizes.photo_block}}"{% if photo.caption %} data-caption="{{photo.caption}}"{% endif %}>
        {% endif %}

      {% endfor %}

    </section><!-- / photos -->

    <section class="caption">

      <div class="slide-counter">
        Image <span class="index">1</span> of <span class="total"></span>
      </div>

      <div class="caption-content">
        {% for photo in photos %}
          {% if loop.first and photo.caption %}
            {{photo.caption}}
          {% endif %}
        {% endfor %}
      </div>

    </section>

  </section><!-- / block-photo-carousel -->

</div>

<!-- Lightbox -->
<script type="application/javascript">
	(function($) {

		$( '[data-fancybox]' ).on( 'click', function() {

			$.fancybox.open( [
        {% for photo in photos %}
				'<div class="fancybox-lightbox">'+
				'<div class="fancybox-image-container">' +
				'<button data-fancybox-prev title="{{PREV}}" class="fancybox-arrow fancybox-arrow--left" />' +
				'<img src="{{ photo.photo.sizes.photo_block }}" />'+
				'<button data-fancybox-next title="{{NEXT}}" class="fancybox-arrow fancybox-arrow--right" />' +
				'</div>' +
				'<div class="lightbox-content">' +
				'<p class="content">{{ photo.caption }}</p>' +
				'<p class="image-count">Image {{ loop.index }} of {{ loop.length }}</p>' +
				'</div>' +
				'</div>',
        {% endfor %}
			], {
				loop: true,
				hash: '{{ lightbox_id }}',
				baseTpl	:
				'<div class="fancybox-container" role="dialog" tabindex="-1">' +
				'<div class="fancybox-bg"></div>' +
				'<div class="fancybox-stage">' +
				'</div>'
			} )
		} );

	})(jQuery);

</script>