<section class="block block-accordion">

  {% for section in sections %}

    <section class="qa">

      <section class="title">{{section.heading}} <i class="fa fa-plus"></i></section>
      <section class="message">{{section.description}}</section><!-- / message -->

    </section>

  {% endfor %}

</section><!-- / block-accordion -->