{% if button_label %}

  <section class="block block-content block-lightbox">
    <p><a href="javascript:;" class="lightbox button green compact" data-fancybox id="{{ lightbox_id }}">{{button_label}}</a></p>
  </section>

{% else %}

  <section class="block block-photo block-photo-lightbox">

    <section class="photo">

      <a href="javascript:;" class="photo-lightbox-trigger" data-fancybox id="{{ lightbox_id }}">

        <div class="overlay"><i class="fa fa-search"></i></div>

        {% if cover_photo %}
          <img src="{{cover_photo.sizes.photo_block}}">
        {% endif %}

      </a>

    </section><!-- / photos -->

    {% if caption %}

      <section class="caption">

        <div class="caption-content">{{caption}}</div>

      </section>

    {% endif %}

  </section><!-- / block-photo -->

{% endif %}

<!-- Lightbox -->
<script type="application/javascript">
	(function($) {

		$( '#{{ lightbox_id }}' ).on( 'click', function() {

			$.fancybox.open( [
        {% for photo in photos %}
				'<div class="fancybox-lightbox">'+
				'<div class="fancybox-image-container">' +
				'<button data-fancybox-prev title="{{PREV}}" class="fancybox-arrow fancybox-arrow--left" />' +
				'<img src="{{ photo.photo.url }}" />'+
				'<button data-fancybox-next title="{{NEXT}}" class="fancybox-arrow fancybox-arrow--right" />' +
				'</div>' +
				'<div class="lightbox-content {% if loop.length <= 1 %}single-slide{% endif %}">' +
				'<p class="content">{{ photo.caption }}</p>' +
				'<p class="image-count">Image {{ loop.index }} of {{ loop.length }}</p>' +
				'</div>' +
				'</div>',
        {% endfor %}
			], {
				loop: true,
        {% if lightbox_id %}
				hash: '{{ lightbox_id }}',
        {% endif %}
				baseTpl	:
				'<div class="fancybox-container" role="dialog" tabindex="-1">' +
				'<div class="fancybox-bg"></div>' +
				'<div class="fancybox-stage">' +
				'</div>'
			} )
		} );

	})(jQuery);

</script>