{% if heading or description %} 

  <section class="block block-page-heading">
    {% if heading %}
      <h3 class="hie">{{heading}}</h3>
    {% endif %}

    {% if description %}
      <p class="hie">{{description}}</p>
    {% endif %}
  </section>

{% endif %}

<section class="block block-list">
  {% if sub_heading %}
    <h3>{{sub_heading}}</h3>
  {% endif %}
  {% for row in list %}
    <section class="list-item">{{row.content}}</section>
  {% endfor %}

</section><!-- / block-list -->