{% if heading or description %} 

  <section class="block block-page-heading">

    <h2 class="hie">{{heading}}</h2>
    <p class="hie">{{description}}</p>

  </section>

{% endif %}

{% if photo %}

  <section class="block block-featured-list">

    <section class="row">

      <section class="description">
        {{content}}
      </section><!-- / description -->

      {% if photo %}

        <section class="thumbnail">

          <img src="{{photo}}">

        </section><!-- / thumbnail -->

      {% endif %}

    </section><!-- / row -->

  </section><!-- / block-featured-list -->

{% else %}

  <section class="block block-content" {%  if container_id %}id="{{ container_id }}"{% endif %}>

    {{content}}

  </section><!-- / block-content -->

{% endif %}