<section class="block block-form-accordion">

  <section class="qa">

    <section class="form-button"><a class="button green download compact">{{form_accordion_text}}</a></section> <!-- /button -->
    <section class="form-accordion" id="{{ form_accordion_id }}">{{ function( 'add_acf_ninja', form_accordion_ninja ) }}</section><!-- / form -->

  </section>

</section><!-- / block-accordion -->