<section class="block block-photo block-photo-carousel">

  <section class="photos-header">
    <h3>{{ header }}</h3>
  </section>

  <section class="photos">

    <a href="#" class="slide-nav prev"><i class="fa fa-long-arrow-left"></i></a>
    <a href="#" class="slide-nav next"><i class="fa fa-long-arrow-right"></i></a>

    {% for photo in photos %}

      {% if photo.photo %}
        <img src="{{photo.photo.sizes.photo_block}}"{% if photo.caption %} data-caption="{{photo.caption}}"{% endif %}>
      {% endif %}

    {% endfor %}

  </section><!-- / photos -->

  <section class="caption">

    <div class="slide-counter">
      Image <span class="index">1</span> of <span class="total"></span>
    </div>

    <div class="caption-content">
      {% for photo in photos %}
        {% if loop.first and photo.caption %}
          {{photo.caption}}
        {% endif %}
      {% endfor %}
    </div>

  </section>

</section><!-- / block-photo-carousel -->