{% if button_label %}

  <section class="block block-content block-lightbox">
    <p><a href="javascript:;" class="lightbox button green compact" data-fancybox data-src="{{ lightbox_photo.url }}" {% if caption %}data-caption="{{ caption }}"{% endif %} id="{{ lightbox_id }}">{{button_label}}</a></p>
  </section>

{% else %}

  <section class="block block-photo block-photo-lightbox">

    <section class="photo">

      <a href="javascript:;" class="photo-lightbox-trigger" data-fancybox data-src="{{ lightbox_photo.url }}" {% if caption %}data-caption="{{ caption }}"{% endif %} id="{{ lightbox_id }}">

        <div class="overlay"><i class="fa fa-search"></i></div>

        {% if cover_photo %}
          <img src="{{cover_photo.sizes.photo_block}}">
        {% endif %}

      </a>

    </section><!-- / photos -->

    {% if caption %}

      <section class="caption">

        <div class="caption-content">
          {{caption}}
        </div>

      </section>

    {% endif %}

  </section><!-- / block-photo -->

{% endif %}

<script type="application/javascript">
  (function($) {
  	$(function() {
  		$('#{{ lightbox_id }}').on('click', function() {
  			$.fancybox.open();
      })
    })
  })(jQuery);
</script>