<section class="block block-photo">

  {% if photo %}

    <section class="photo">

      <img src="{{photo.sizes.photo_block}}">

    </section><!-- / photos -->

  {% endif %}

  {% if caption %}

    <section class="caption">

      <div class="caption-content">{{caption}}</div>

    </section>

  {% endif %}

</section><!-- / block-photo -->