{% if button_label %}

  <section class="block block-content block-lightbox">
    <p><a href="#{{lightbox_id}}" class="lightbox button green compact" data-lity>{{button_label}}</a></p>
  </section>

{% else %}

  <section class="block block-photo block-video-lightbox">

    <section class="photo">

      <a href="javascript:;" class="photo-lightbox-trigger" data-fancybox data-type="iframe" data-src="{{ video_code }}" >

        <div class="overlay"><i class="fa fa-play"></i></div>

        {% if cover_photo %}
          <img src="{{cover_photo.sizes.photo_block}}">
        {% endif %}
      </a>

    </section><!-- / photos -->

    {% if caption %}
      <section class="caption">

        <div class="caption-content">{{caption}}</div>

      </section>
    {% endif %}

  </section><!-- / block-photo -->

{% endif %}