<section class="event-categories">

  <div class="inner">

    <span class="event-categories-mobile-trigger">
      Categories <i class="fa fa-angle-down"></i>
    </span>

    <section class="category-list">

      <a href="{{function('home_url', 'events')}}" class="{% if all_events %}active {% endif %}event-purple">
        <img src="{{function('get_template_directory_uri')}}/assets/resources/all-events-icon.png">
        <span>All Events</span>
        <span class="icon"><i class="fa fa-angle-down"></i></span>
      </a>

      {% for term in term_data %}

        <a href="{{term.permalink}}" class="{% if term.active %}active {% endif %}{{term.color}}">

          {% if term.icon %}
            <img src="{{term.icon}}">
          {% endif %}

          <span>{{term.title}}</span>
          <span class="icon"><i class="fa fa-angle-down"></i></span>
        </a>

      {% endfor %}

    </section><!-- / category-list -->

  </div><!-- / inner -->

</section><!-- / event-categories -->