<footer>

  <div class="inner">

    <section class="top">

      <section class="logos">

        {% for logo in fields.footer_logos %}

          <a href="{{logo.link}}" {% if logo.new_window == true %}target="_blank"{% endif %}>

            {% if logo.logo %}
              <img src="{{logo.logo}}">
            {% endif %}

          </a>

        {% endfor %}

      </section><!-- / logos -->

      {#£#}

    </section><!-- / top -->

    <section class="bottom">

      <section class="col location">

        <span class="heading top-heading">Location + Hours <i class="fa fa-angle-down"></i></span>

        <div class="col-content">

          <section class="row">

            <div class="icon">

              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="23" height="33" viewBox="0 0 23 33">
                <path d="M22.451,7.684 C20.744,2.376 15.350,-0.717 9.466,0.143 C4.142,0.921 -0.019,5.705 -0.007,11.190 C0.018,12.424 0.210,13.775 0.837,15.049 C3.490,20.437 6.131,25.831 8.791,31.216 C8.982,31.602 9.233,31.993 9.555,32.282 C11.037,33.612 13.355,33.040 14.232,31.205 C16.763,25.913 19.367,20.654 21.969,15.393 C23.215,12.875 23.285,10.281 22.451,7.684 ZM11.567,16.518 C8.334,16.514 5.743,14.066 5.735,11.004 C5.728,7.950 8.306,5.503 11.552,5.483 C14.635,5.465 17.229,7.980 17.232,10.991 C17.235,14.003 14.654,16.521 11.567,16.518 Z" class="cls-1"/>
              </svg>


            </div>

            <section class="description">

              <span class="heading">Address</span>
              <span class="address hie">{{fields.footer_address}}</span>

              {{fields.footer_address_link}}

            </section><!-- / description -->

          </section><!-- / row -->

          <section class="row">

            <div class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="28" height="28" viewBox="0 0 28 28">
                <path d="M13.979,27.995 C6.238,27.995 -0.028,21.705 -0.007,13.958 C0.016,6.226 6.271,-0.011 14.000,-0.007 C21.723,-0.002 27.989,6.264 27.986,13.979 C27.982,21.741 21.732,27.995 13.979,27.995 ZM13.906,4.067 C8.503,4.088 4.069,8.557 4.072,13.982 C4.073,19.445 8.546,23.944 13.949,23.921 C19.474,23.896 23.899,19.487 23.907,13.997 C23.916,8.501 19.430,4.046 13.906,4.067 ZM10.149,13.119 L13.123,13.119 L13.123,7.594 L14.822,7.594 L14.822,14.819 L10.149,14.819 L10.149,13.119 Z" class="cls-1"/>
              </svg>

            </div>

            <section class="description">

              <span class="heading">Hours</span>

              <p class="hie">{{fields.footer_hours}}</p>

              {{fields.footer_hours_link}}

            </section><!-- / description -->

          </section><!-- / row -->

          <section class="row contact">

            <div class="icon">

              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24.969" height="20.03" viewBox="0 0 24.969 20.03">
                <path d="M12.239,0.001 C15.601,0.037 18.493,0.716 21.055,2.439 C22.861,3.653 24.284,5.182 24.793,7.355 C25.341,9.698 24.710,11.757 23.145,13.554 C21.033,15.977 18.222,17.101 15.096,17.580 C13.369,17.845 11.631,17.915 9.898,17.594 C9.527,17.525 9.213,17.604 8.888,17.814 C7.131,18.954 5.201,19.668 3.121,20.003 C2.809,20.053 2.557,20.017 2.377,19.746 C2.180,19.447 2.267,19.180 2.484,18.935 C2.893,18.472 3.310,18.017 3.712,17.550 C3.883,17.353 4.040,17.141 4.181,16.922 C4.796,15.966 4.775,15.989 3.851,15.328 C1.845,13.894 0.342,12.127 0.047,9.594 C-0.186,7.596 0.434,5.846 1.750,4.353 C4.089,1.698 7.175,0.493 10.656,0.112 C11.277,0.043 11.900,-0.014 12.239,0.001 Z" class="cls-1"/>
              </svg>

            </div>

            <section class="description">

              {% if fields.footer_phone %}<span class="heading"><a href="tel:{{fields.footer_phone}}">{{fields.footer_phone}}</span>{% endif %}
              {% if fields.footer_email %}<span class="heading"><a href="mailto:{{fields.footer_email}}">{{fields.footer_email}}</a></span>{% endif %}

            </section><!-- / description -->

          </section><!-- / row -->

        </div><!-- / col-content -->

      </section><!-- / location -->

      <section class="col visitor-info">

        <span class="heading top-heading">Visitor Info <i class="fa fa-angle-down"></i></span>

        <div class="col-content">

          {{fields.footer_visitor_info}}

          <span class="heading">Support Us</span>

          {{fields.footer_support_us}}

          {% if fields.footer_links %}

            <nav class="footer">

              {% for link in fields.footer_links %}
                <a href="{{link.link}}">{{link.label}}</a>
              {% endfor %}

            </nav>

          {% endif %}

        </div><!-- / col-content -->

      </section><!-- / visitor-info -->

      <section class="col about">

        <span class="heading top-heading">About Cantigny Park <i class="fa fa-angle-down"></i></span>

        <div class="col-content">

          <nav class="footer">
            {% for nav in fields.footer_sitemap %}
              <a href="{{nav.link}}">{{nav.label}}</a>
            {% endfor %}
          </nav>

        </div><!-- / col-content -->

      </section><!-- / about -->

      <section class="col scoop">

        <span class="heading top-heading">Get the Scoop <i class="fa fa-angle-down"></i></span>

        <div class="col-content">

          <p class="hie">{{fields.footer_email_signup}}</p>
          <p>{{fields.footer_email_signup_link}}</p>

          <nav class="social">
            {% if fields.footer_link_facebook %}<a href="{{fields.footer_link_facebook}}" target="_BLANK"><i class="fa fa-facebook"></i></a>{% endif %}
            {% if fields.footer_link_twitter %}<a href="{{fields.footer_link_twitter}}" target="_BLANK"><i class="fa fa-twitter"></i></a>{% endif %}
            {% if fields.footer_link_pinterest %}<a href="{{fields.footer_link_pinterest}}" target="_BLANK"><i class="fa fa-pinterest"></i></a>{% endif %}
            {% if fields.footer_link_instagram %}<a href="{{fields.footer_link_instagram}}" target="_BLANK"><i class="fa fa-instagram"></i></a>{% endif %}
            {% if fields.footer_link_youtube %}<a href="{{fields.footer_link_youtube}}" target="_BLANK"><i class="fa fa-youtube"></i></a>{% endif %}
          </nav><!-- / social -->

          <span class="heading">Join Our Text Club</span>

          <p>{{fields.footer_text_club}}</p>

        </div><!-- / col-content -->

      </section><!-- / scoop -->

    </section><!-- / bottom -->

  </div><!-- / inner -->

</footer>

<section class="copyright">

  <div class="inner">

    {{ "now"|date('Y') }} {{fields.footer_copyright}}

  </div><!-- / inner -->

</section><!-- / copyright -->

</main>