<div class="mobile-detect"></div>

<section class="mobile-menu">

  <section class="menu-header">

    <a href="{{constants.site_url}}" class="logo">
      {% if fields.header_logo %}
        <img src="{{fields.header_logo}}" alt="Cantigny Park">
      {% endif %}
    </a>

    <a href="#" class="mobile-menu-close-trigger">&times;</a>

  </section><!-- / menu-header -->

  <nav class="links">

    {% for nav in fields.header_main_nav %}

      <nav{% if nav.dropdown %} class="main-has-dropdown"{% endif %}>

        <a href="{{nav.link}}">{{nav.label}} {% if nav.dropdown %}<i class="fa fa-angle-down"></i>{% endif %}</a>

        {% for dropdown in fields.header_dropdowns %}

          {% if nav.label == dropdown.label %}

            <nav class="dropdown links">

              {% for link in dropdown.links %}

                <div>
                  <a href="{{link.link}}">{{link.label}}</a>
                </div>

              {% endfor %}

            </nav><!-- / links -->

          {% endif %}

        {% endfor %}

      </nav>

    {% endfor %}

      <a href="#" class="has-dropdown">More <i class="fa fa-angle-down"></i></a>

      <nav class="dropdown">

      {% for nav in fields.header_sub_nav %}
        <a href="{{nav.link}}">{{nav.label}}</a>
      {% endfor %}

      </nav>
  </nav><!-- / links -->

</section><!-- / mobile-menu -->

<div class="header-container" id="sticky-header">

  <header>

    {#{% Notifications Field %}#}
    {% if fields.activate_notification_banner %}
      <section class="notification-banner">
        <p>{{ fields.notification_banner_text }}</p>
      </section>
    {% endif %}

    <section class="sub-header">

      <nav class="inner">

        {% for nav in fields.header_sub_nav %}
          <a href="{{nav.link}}">{{nav.label}}</a>
        {% endfor %}

      </nav>

    </section><!-- / sub-header -->

    <section class="header">

      <div class="inner">

        <section class="header-left">

          <a href="#" class="mobile-menu-trigger">
            <span class="menu-line"></span>
            <span class="menu-line"></span>
            <span class="menu-line"></span>
          </a>

          <a href="{{constants.site_url}}" class="logo">
            {% if fields.header_logo %}
              <img src="{{fields.header_logo}}" alt="Cantigny Park">
            {% endif %}
          </a>

        </section><!-- / header-left -->

        <nav class="main-nav">
          <ul>
            {% for nav in fields.header_main_nav %}

            <li{% if nav.dropdown %} class="main-has-dropdown"{% endif %}>

              <a href="{{nav.link}}"{% if nav.dropdown %} class="has-dropdown" data-dropdown="{{function('sanitize_title', nav.label)}}"{% endif %}>{{nav.label}}</a>

              {% for dropdown in fields.header_dropdowns %}

                {% if nav.label == dropdown.label %}

                  <ul class="dropdown-menu" data-dropdown="{{function('sanitize_title', dropdown.label)}}">

                    <li class="inner">

                      <section class="description">

                        <span class="heading hie">{{dropdown.heading}}</span>
                        <p class="hie">{{dropdown.description}}</p>

                        {% if dropdown.link_text and dropdown.link %}
                          <a href="{{dropdown.link}}" class="learn-more">{{dropdown.link_text}} <i class="fa fa-long-arrow-right"></i></a>
                        {% endif %}

                      </section><!-- / description -->

                      <nav class="links">

                        {% for link in dropdown.links %}

                          <a href="{{link.link}}">

                            {% if link.image %}

                              <div class="thumbnail" style="background-image: url({{link.image}});">
                                <img src="{{constants.media_url}}/placeholder-190x130.png">
                              </div><!-- / thumbnail -->

                            {% endif %}

                            <span class="title">{{link.label}}</span>

                          </a>

                        {% endfor %}

                      </nav><!-- / links -->

                    </li><!-- / inner -->

                  </ul><!-- / dropdown-menu -->

                {% endif %}

              {% endfor %}

            </li>

            {% endfor %}
          </ul>

          <a href="#" class="search">
            <i class="fa fa-search" aria-label="Search"></i>
          </a>

        </nav>

      </div><!-- / inner -->

    </section>

  </header>

  <section class="search-dropdown">

    <div class="inner">

      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="22" height="22" viewBox="0 0 22 22">
        <path d="M16.990,14.583 C18.457,16.041 19.895,17.475 21.336,18.906 C21.682,19.250 21.974,19.615 22.007,20.135 C22.052,20.872 21.702,21.505 21.044,21.822 C20.410,22.126 19.699,22.018 19.169,21.501 C18.282,20.633 17.404,19.753 16.531,18.870 C15.906,18.239 15.294,17.595 14.656,16.936 C12.049,18.630 9.310,19.058 6.406,18.123 C4.334,17.455 2.661,16.215 1.504,14.364 C-0.936,10.462 -0.346,5.616 2.909,2.532 C6.084,-0.476 11.027,-0.840 14.659,1.681 C16.755,3.138 18.020,5.161 18.476,7.649 C18.931,10.136 18.438,12.463 16.990,14.583 ZM15.257,9.297 C15.248,6.014 12.587,3.374 9.290,3.376 C6.027,3.379 3.374,6.036 3.373,9.302 C3.373,12.567 6.029,15.225 9.294,15.229 C12.585,15.232 15.264,12.567 15.257,9.297 Z" class="cls-2 svg-white"/>
      </svg>

      <form role="search" method="get" class="search-form" action="{{function('home_url', '/')}}">

        <input type="search" name="s" placeholder="Search..." autocomplete="off">

      </form>

    </div><!-- / inner -->

  </section><!-- / search-dropdown -->

</div>

<main>