<section class="interactive-map">

    <div class="image-points">

        {% if map_image %}
            <img src="{{map_image}}">
        {% endif %}

      <div class="points">

        {% for point in points %}

          <a href="javascript:;" style="{% if point.top %}top: {{point.top}};{% endif %} {% if point.left %}left: {{point.left}};{% endif %}{% if point.right %}right: {{point.right}};{% endif %}" class="plus plus_{{ loop.index }}" id="{{ point.id }}">
            {% if point_icon %}
              <img src="{{ point_icon }}" />
            {% endif %}
          </a>

        {% endfor %}

      </div><!-- / points -->

    </div><!-- / image-points -->

</section><!-- / interactive-map -->

<!-- Lightbox -->
<script type="application/javascript">
  (function($) {

      {% for point in points %}

		  $( "#{{ point.id }}" ).on( 'click', function() {

			  $.fancybox.open( [
        {% for gallery in point.gallery %}
				  '<div class="fancybox-lightbox">'+
          '<div class="fancybox-image-container">' +
          {% if loop.length > 1 %}
				  '<button data-fancybox-prev title="{{PREV}}" class="fancybox-arrow fancybox-arrow--left" />' +
          {% endif %}
				  '<img src="{{ gallery.url }}" />'+
          {% if loop.length > 1 %}
				  '<button data-fancybox-next title="{{NEXT}}" class="fancybox-arrow fancybox-arrow--right" />' +
          {% endif %}
          '</div>' +
          '<div class="lightbox-content {% if loop.length <= 1 %}single-slide{% endif %}">' +
				  '<p class="lightbox-header">{{ gallery.title }}</p>' +
				  '<p class="content">{{ gallery.caption }}</p>' +
          '<p class="image-count">Image {{ loop.index }} of {{ loop.length }}</p>' +
				  '</div>' +
				  '</div>',
        {% endfor %}
			  ], {
				  loop: true,
				  hash: '{{ point.id }}',
				  baseTpl	:
				  '<div class="fancybox-container" role="dialog" tabindex="-1">' +
				  '<div class="fancybox-bg"></div>' +
				  '<div class="fancybox-stage">' +
				  '</div>'
			  } )
		  } );
      {% endfor %}

  })(jQuery);

</script>